# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.*
!.env.example
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.local

# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs / Editor
.idea/
.vscode/
*.swp
*.swo

# Angular specific
.angular/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/

# NestJS specific
backend/dist/
